/* YeyeYeee código aquí */
/*COLORES:
#F6A800
#3E3F41
#DDDEE0*/
*{
	font-family: 'Open Sans', sans-serif;
}
body{
	background-color: #3E3F41;
}
/*****INDEX PRINCIPAL*****/
/**FIRST-SECTION**/
.first-section{
	text-align: center;
}
.first-section img{
	margin-top: 300px;
}
.first-section h1{
	text-align: center;
	color: #F6A800;
	font-weight: 800;
	font-size: 590%;
	margin-bottom: 140px;
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
	display: block;
	margin-bottom: 0px;
	padding: 20px;
	border: none;
	width: 100%;
	background-color: white;
}
::-webkit-input-placeholder { 
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	color: #373636; 
} /* WebKit */
:-moz-placeholder { 
	font-family: 'Open Sans', sans-serif;
	font-size: 60px;
	color: #373636; 
} /* Firefox 18- */
::-moz-placeholder { 
	font-family: 'Open Sans', sans-serif;
	font-size: 60px;
	color: #373636; 
} /* Firefox 19+ */
:-ms-input-placeholder { 
	font-family: 'Open Sans', sans-serif;
	font-size: 60px;
	color: #373636; 
} /* IE 10+ */
.first-inputs button{
	display: block;
	margin-bottom: 35px;
	padding-bottom: 20px;
	padding-top: 20px;
	width: 105%;
	border: none;
	background-color: #F6A800;
	font-size: 20px;
}
.first-inputs a{
	text-decoration: none;
	font-size: 35px;
	color: white;
}
.first-registrate p{
	margin-top: 400px;
	font-size: 25px;
	color: white;
}
.first-registrate p a{
	text-decoration: none;
	color: #F6A800;
}

/*****SEGUNDO INDEX*****/
.index-dos{
	background-color: #DDDEE0;
}
/**FIRST SECTION**/
nav{
	background-color: #3E3F41;
}
.side-nav li>a>i, .side-nav li>a>[class^="mdi-"], .side-nav li>a li>a>[class*="mdi-"], .side-nav li>a>i.material-icons{
	color: #F6A800;
}
.side-nav li>a{
	color: black;
}
/**SECOND SECTION**/
.second-section-dos{
	text-align: center;
}
.second-button button{
	display: block;
}
.row .col.s12{
	padding: 20px;
}
.btn-uno{
	margin-top: 400px;
}
.btn-uno, .btn-dos, .btn-tres, .btn-cuatro{
	margin-bottom: 15px;
	border: none;
	background-color: #F6A800;
	font-size: 25px;
	font-weight: 300;
	color: white;
}

/*****TERCER INDEX*****/
/**SECOND SECTION**/
.second-section-tres{
	background-color: #F6A800;
}
.profile{
	text-align: center;
}
.profile img{
	width: 50%;
	margin-top: 70px;
	margin-bottom: 70px;
}
/**THIRD SECTION**/
.third-section-tres{
	text-align: center;
}
.third-inputs p{
	border: 1px;
	width: 105%;
	padding: 27px;
	margin-bottom: 70px;
	background-color: white;
	font-size: 25px;
}
.third-section-tres .third-inputs .input-numero-tarjeta, .second-section-cinco .balances .input-numero-tarjeta{
	width: 100%;
	padding: 0px;
	background-color: transparent;
	border-bottom: 1px solid black;
}
.third-inputs button{
	width: 105%;
	margin-top: 45px;
	margin-bottom: 35px;
	padding-bottom: 23px;
	padding-top: 23px;
	border: none;
	background-color: #F6A800;
	font-size: 25px;
	font-weight: 300;
	color: white;
}
/*****CUARTO INDEX*****/
/**SECOND SECTION**/
.second-section-cuatro{
	background-color: #F6A800;
}
.answers{
	text-align: center;
}
.answers h2{
	margin-top: 250px;
	margin-bottom: 250px;
	color: white;
	font-size: 50px;
	font-weight: 800;
}
.answers-menu ul{
	margin-top: 60px;
}
.collapsible-body{
	background-color: white
}
/*****QUINTO INDEX*****/
/**SECOND SECTION**/
.second-section-cinco{
	text-align: center;
}
.second-section-cinco .balances .input-numero-tarjeta{
	margin-top: 170px;
	margin-bottom: 60px;
}
.select-wrapper input.select-dropdown{
	padding: 0px;
	margin-left: 18px;
	margin-bottom: 40px;
    width: 96%;
}
.button-balances button{
	width: 20%;
	margin-top: 50px;
	padding-bottom: 18px;
	padding-top: 18px;
	border: none;
	background-color: #F6A800;
	font-size: 25px;
	font-weight: 300;
	color: white;
}
label{
	font-size: 25px;
	font-weight: 800;
	color: black;
	margin-bottom: 5px;
}
